body {
    background-color: #202b38;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 40px;

}

label {
    font-size: 18px;
    margin-right: 10px;
    margin: 10px;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 220px;
}

select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 240px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px
}

button:hover {
    background-color: #2980b9;
}

footer {
    justify-self: flex-end;
    border-top: 1px solid #dbdbdb;
    padding-top: 10px;
    color: #70777f;
}

a {
    color: #1c76c5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body>footer {
    margin-top: 40px;
}

#optionError {
    font-size: 20px;
    padding-top: 10px;
    color: grey;
}

.footer {
    text-align: end;
}

.cafe {
    text-decoration: none;
    color: inherit;
    outline: none;
}